.mypage{
    
}
.mypage-top-box {
    width: 100px;
    margin: 15px 20px;
}

.mypage-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mypage-top-name{
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}
.mypage-top-btn{
    text-align: right;
}
.mypage-top-btn img {
    width: 40px;
}
.mypage-info{
    margin: 10px 20px;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
}
.mypage-info-img{
    
}
.mypage-info-text{
    margin: 15px 20px;
    font-size: 14px;
}
.flag {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 400px;
    margin: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 1px 4px;
                box-shadow: rgba(0, 0, 0, 0.92) 0px 1px 4px;

}
.ko{
    background-image: url(https://flagcdn.com/h240/kr.png);
}
.gb{
    background-image: url(https://flagcdn.com/h240/gb.png);
}
.es{
    background-image: url(https://flagcdn.com/h240/es.png);
}
.lng-box {
    width: 100px;
    font-size: 14px !important;
}
.mypage-info-lng {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 15px 0px;
}
.lng-con-title {
    margin: 10px 0px;
    font-weight: 400;
}
.lng-con-level {
    font-weight: bold;
}
.mypage-point {
    margin: 10px 20px;
    border-radius: 25px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.point-top {
    font-size: 30px;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    text-align: center;
    line-height: 70px;
    background: #52E48D;
    position: relative;
    top: -30px;
}
.point-title{
    font-size: 20px;
}
.point-sub{
    margin: 10px;
}
.point-btn {
    margin: 15px;
    padding: 10px 20px;
    background: #52E48D;
    border-radius: 20px;
    color: #fff;
}
.mypage-review {
    margin: 10px 20px;
    border-radius: 25px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.review-top{
    position: relative;
    top: -50px;
    width:100%;
    overflow :scroll;
}
.bows {
    width: 80px;
    height: 80px;
    background: #fff;
    margin: 10px;
    border-radius: 100px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 1px 4px;
}
.mypage-event{
    margin: 30px 20px;
}