@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s;
}
/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {

}

 /* 스마트폰 가로 */
@media only screen and (min-width : 321px) {
    .main_box{
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    #map{
        position: absolute;
        width: 100vw;
        height:100vh;
    }
    .main_cat_box{
        position: absolute;
        z-index: 999;
        display: block;
        padding: 30px 10px;
        width: 90%;
        top: 0px;
        left: 50%;
        transform: translate(-50%);
    }
    .cat-box-borders{
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 10px 10px;
        border-radius: 130px;
        text-align: center;
        font-size: 16px;
        flex-grow: 10;
    }
    .cats{
        padding:5px 10px;
    }
    .cat-1{
        flex: 1;
    }
    .cat-2{
        position: relative;
        flex: 15;
        border-bottom: 3px solid #52E48D;
    }
    .cat-3{
        flex: 1;
    }
    .cat-4{
        flex: 1;
    }
    .cat-5{
        flex: 1;
    }
    .cat-box{
        position: absolute;
        left: 50%;
        background: #fff;
        transform: translate(-50%);
        height: 0px;
        overflow: scroll;
    }
    .cat-box.open{
        height:140px;
        margin: 5px 0px;
        border: 3px solid #52E48D;
    }
    .cat-box #cat-menu{
        padding: 10px 10px;
        border-bottom:2px solid #52E48D;
    }
    .add_button{
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 999;
        width: 80px;
        height: 80px;
    }
    .add_button img{
        width: 100%;
        height: 100%;
    }
    .ht_button{
        position: fixed;
        left: 50%;
        bottom: 15px;
        z-index: 999;
        transform: translate(-50%);
        padding: 10px 15px;
        background: #52E48D;
        color: #fff;
        border-radius: 40px;
        font-size: 22px;
        width: 50%;
        text-align: center;
    }
    .border_list{
        width: 100%;
        height: 0;
        background: #fff;
        z-index: 999;
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 45px 45px 0px 0px;
    }
    .border_list.open{
        height: 75vh;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
    }
    .list-box{
        display: none;
    }
    .list-box.open{
        display: block;
    }
    .border_list .list-box .title{
        text-align: center;
        margin: 20px;
        vertical-align: middle;
        align-items: center;
    }
    .border_list .list-box .con{
        overflow: scroll;
        height: 100%;
        margin: 5px 20px;
    }
    .con-box.cont-top{
        overflow: scroll;
    width: 100%;
    white-space: nowrap;
    }
    .contop-box {
        width: 200px;
    height: 250px;
    background: #fff;
    margin: 10px;
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
    color: #000;
    -webkit-box-shadow: 0px 10px 13px -7px #b5b5b5, 5px 5px 10px 5px rgb(227 227 227 / 38%);
    box-shadow: 0px 10px 13px -7px #b5b5b5, 5px 5px 10px 5px rgb(227 227 227 / 38%);
    }
    .con-box.cont-top::-webkit-scrollbar{
        display:none;
    }
    .bast {
        margin: 5px 10px;
    }
    .cons {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
    }
    
    .img-box {
        order: 1;
        flex-grow: 5;
    }
    
    .img-box img {
        width: 100%;
        height: 100%;
    }
    
    .title-box {
        order: 2;
        flex-grow: 2;
        font-size: 22px;
        margin: 10px 20px;
    }
    
    .info-box {
        order: 3;
        flex-grow: 2;
        margin: 5px 20px;
        font-size: 12px;
        color: rgb(146, 146, 146);
    }
    
    .info-box2 {
        order: 4;
        flex-grow: 2;
        margin: 5px 20px;
        font-size: 12px;
        color: rgb(146, 146, 146);
    }
    .con-box.cat-boxs{
        overflow: scroll;
    width: 100%;
    white-space: nowrap;
    }
    .con-box.cat-boxs::-webkit-scrollbar{
        display:none;
    }
    .catboxs{
        width: 150px;
    height: 100px;
    background: #000;
    margin: 10px;
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
    color: #000;
    -webkit-box-shadow: 0px 10px 13px -7px #b5b5b5, 5px 5px 10px 5px rgb(227 227 227 / 38%);
    box-shadow: 0px 10px 13px -7px #b5b5b5, 5px 5px 10px 5px rgb(227 227 227 / 38%);
    }
}