.container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
}
.container .cons-box{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    height: 100vh;
}
.container .cons-box .titles{
    font-size: 1.5rem;
    order: 1;
    font-weight: bold;
    margin-bottom: 20px;
    color: #52E48D;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.container .cons-box .butt{
    border-radius: 30px;
    border: 1px solid #52E48D;
    color: #fff;
    padding: 15px 30px;
    background: #52E48D;
    font-size: 20px;
    -webkit-box-shadow: #52e48d 0px 1px 4px;
    box-shadow: #52e48d 0px 1px 4px;
}
.catcho{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    text-align: center;
    background: #fff;
    padding: 20px 100px;
    -webkit-box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    display: none;
}
.catcho .catcho_box{
    margin: 10px;
}
#catcho_clo{
    position: fixed;
    top: 5px;
    right: 10px; 
}
#m_cloes{
    color: #52E48D;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
}
.profiles{
    position: fixed;
    flex-direction: row;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: rgb(0 0 0 / 45%) 0px 1px 4px;
    box-shadow: rgb(0 0 0 / 45%) 0px 1px 4px;
    display: none;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 30px;
    border-radius: 25px;
}
.organizer_img {
    margin: 15px;
    border-radius: 25px;
    overflow: hidden;
}
.modals{
    position: fixed;
    flex-direction: row;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.modals .modals_box{
    width: 160px;
    height: 160px;
    display: inline-block;
    margin: 9px;
    border-radius: 25px;
    overflow: hidden;
}
#modals_clo{
    position: fixed;
    top: 5px;
    right: 10px; 
}
#m_cloes{
    color: #52E48D;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}
.event-container{
    margin: 0px 20px;
    position: relative;
}
.event-infos{
    width: 100%;
    background: #fff;
    top: -110px;
    position: relative;
    border-radius: 25px;
}
#event-main-pic img{
    height:400px;
    border-radius: 25px;
}

.particpantsss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin: 20px 0px;
}
.particpantsssbt{
    display: flex;
    width: 80px;
    justify-content: space-around;
    font-size: 20px;
}
.event_titles {
    margin: 20px 20px;
    margin-bottom: 0;
}
.location-details{
     text-align: center;
}
.location-details textarea{
    padding: 10px;
   margin: 10px;
   border-radius: 25px;
   width: 85%;
   border: 1px solid #ddd;
}
.location-address{
     text-align: center;
}
.location-address input[type="text"]{
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 85%;
    border: 1px solid #ddd;
}
.event_img{
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
    overflow: hidden;
    margin: 15px;
}
.event_img img{
     width: 100%;
}
.form_boxs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px 0px;
    text-align: center;
}
.form_boxs div{
    width:40%;
}

.form_boxs input[type="text"],select,input[type="date"],input[type="time"],.form_cat,input[type="number"]{
    width: 90% !important;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #d0d0d0;
    color: #000;
    font-size: 14px;
    text-align: left;
    color: #000;
    overflow: hidden;
}
#profiles_clo{
    color: #52E48D;
    top: 15px;
    right: 15px;
    position: absolute;
    font-size: 25px;
}
#join-col{
    color: #52E48D;
    top: 15px;
    right: 15px;
    position: absolute;
    font-size: 25px;
}
div#mapser{
    position: fixed;
    flex-direction: row;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: rgb(0 0 0 / 45%) 0px 1px 4px;
    box-shadow: rgb(0 0 0 / 45%) 0px 1px 4px;
    top: 50%;
    left: 50%;
    width: 80vw;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 50px 30px;
    border-radius: 25px;
}
#mapsers {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #1f1f1fc7;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}
input#mapserss {
    border-radius: 25px;
    border: 1px solid #5d5d5d;
    padding: 10px;
    font-size: 14px;
    width: 50%;
}

#mapser button {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #52E48D;
    background: #52E48D;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.mapser_col{
    color: #52E48D;
    top: 15px;
    right: 15px;
    position: absolute;
    font-size: 25px;
}
div#modals_img {
    width: 100vw;
    overflow: scroll;
    margin: 30px 0px;
    padding-bottom: 50px;
}
input::placeholder,.form_cat{
    font-size: 14px;
    text-align: left;
    color: #000;
}
input[type="date"]::before{
    content:"Date";width:100%;
}
input[type="date"]:focus::before,input[type="date"]:valid::before{
    display: none;
}
input[type="time"]::before{
    content:attr(data-placeholder);width:100%;
}
input[type="time"]:focus::before,input[type="time"]:valid::before{
    display: none;
}
div#search_maps {
    height: 400px;
    overflow: scroll;
}
.idsbox {
    margin: 10px 0px;
    border: 1px solid #adadad;
    padding: 10px 0px;
}

.search_address {
    margin: 10px;
}

.search_name {
    margin: 10px;
}
#share-btn{
    color: #52E48D;
    font-size: 30px;
}
.titles_2 {border-bottom: 2px solid var(--main-color);width: 80px;margin: 0px 15px;}